<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 py-8">
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
      <li>
        <ul role="list" class="-mx-2 space-y-1">
          <li>
            <a href="index.html" class="tierlist text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Tierlist
            </a>
          </li>
          <li>
            <a href="changelog.html" class="changelog text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Changelog
            </a>
          </li>
          <li>
            <a href="contributions.html" class="contributions text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Contributions
            </a>
          </li>
          <li>
            <a href="squad-coins.html" class="squad-coins text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Squad Coins
            </a>
          </li>
          <li>
            <a href="yonder-yacht.html" class="yonder-yacht text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Yonder Yacht
            </a>
          </li>
          <li>
            <a href="ascension-system.html" class="ascension-system text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Ascension System
            </a>
          </li>
          <li>
            <a href="training-camp.html" class="training-camp text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Training Camp
            </a>
          </li>
          <li>
            <a href="unit-effects.html" class="unit-effects text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Unit Effects
            </a>
          </li>
          <li>
            <a href="troop-infos.html" class="troop-infos text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Troop Infos
            </a>
          </li>
          <li>
            <a href="market-history.html" class="market-history text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              Market History
            </a>
          </li>
        </ul>
      </li>
      <li>
        <div class="text-xs font-semibold leading-6 uppercase text-gray-400">Download tierlist</div>
        <ul role="list" class="-mx-2 mt-2 space-y-1">
          <li>
            <a href="https://raw.githubusercontent.com/siedlermaster/toptroops/main/assets/toptroops-hero-tierlist.jpg" download class="text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              <span class="flex shrink-0 px-1.5 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white text-gray-500 border-gray-300 group-hover:border-neutral-900 group-hover:bg-neutral-900 group-hover:text-white">2.1.10</span>
              <span class="truncate">JPG File</span>
            </a>
          </li>
          <li>
            <a href="https://raw.githubusercontent.com/siedlermaster/toptroops/main/assets/toptroops-hero-tierlist.pdf" download class="text-gray-700 hover:text-neutral-900 hover:bg-gray-100 group flex gap-x-3 rounded-md px-4 py-2 text-sm leading-6 font-semibold">
              <span class="flex shrink-0 px-1.5 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white text-gray-500 border-gray-300 group-hover:border-neutral-900 group-hover:bg-neutral-900 group-hover:text-white">2.1.10</span>
              <span class="truncate">PDF File</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
