body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100vh;
}

input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.content {
  padding: 2vw;
}

iframe {
  width: 100%;
  min-height: calc(calc(100vh - 4vw) - 10px);
  display: block;
  border: 0;
  margin-top: -31px;
  margin-bottom: -26px;
}

.iframe01 iframe {
  min-height: calc(calc(100vh - 4vw) - 130px);
}

.downloads {
  min-height: 90px;
}

.btn-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #373737;
  border:1px solid #373737;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: #373737;
  color: #f2f2f2;
}

[role="tabpanel"] {
  display: none;
}

#iframe01:checked ~ nav label[for="iframe01"],
#iframe02:checked ~ nav label[for="iframe02"],
#iframe03:checked ~ nav label[for="iframe03"],
#iframe04:checked ~ nav label[for="iframe04"],
#iframe05:checked ~ nav label[for="iframe05"],
#iframe06:checked ~ nav label[for="iframe06"],
#iframe07:checked ~ nav label[for="iframe07"],
#iframe08:checked ~ nav label[for="iframe08"],
#iframe09:checked ~ nav label[for="iframe09"],
#iframe10:checked ~ nav label[for="iframe10"] {
  border-color:#373737;
  color: #373737;
}

#iframe01:checked ~ .content .iframe01,
#iframe02:checked ~ .content .iframe02,
#iframe03:checked ~ .content .iframe03,
#iframe04:checked ~ .content .iframe04,
#iframe05:checked ~ .content .iframe05,
#iframe06:checked ~ .content .iframe06,
#iframe07:checked ~ .content .iframe07,
#iframe08:checked ~ .content .iframe08,
#iframe09:checked ~ .content .iframe09,
#iframe10:checked ~ .content .iframe10 {
  display: block;
}